*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: var(--background-color);
  color: white;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default form styles */
input,
select,
textarea,
button {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

caption {
  text-align: left;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

/* Fix for input elements */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

/* Svelte-specific styles */
:root {
  --primary-color: #6ac254;
  --background-color: #1C1E22;
  --panel-color: #0000005b;
}
